<div class="container">
 <div class="row">
  <div class="col-md-8 col-lg-6  px-5 mx-auto">

   <h1>Editing Book</h1>

   <% if @book.errors.any? %>
    <%= @book.errors.count %>errors
    <ul>
      <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
    </ul>
   <% end %>

   <%= form_with model: @book do |f| %>
   <div class="form-group">
    <label for ="inputTitle">本のタイトル</label><br>
    <%= f.text_field :title, autofocus: true, id: "inputTitle", placeholder: "本のタイトル" %>
   </div>
   <div class="form-group">
    <lebel for"inputBody">感想</lebel><br>
    <%= f.text_area :body, placeholder: "感想" %>
   </div>
   <div class="form-group">
    <%= f.submit "Update Book", class: "btn btn-success" %>
   </div>
    <% end %>

    <%= link_to "Show", book_path(@book.id), class: "btn btn-sm btn-secondary" %>
    <%= link_to "Back", books_path, class: "btn btn-sm btn-secondary" %>